{% extends "base.html" %}
{% load static %}

{% block content %}
    
    <h2>Welcome to FreeShelf,<br>
         a website developed by <em>Robots!</em></h2>
    
    <p>The library has the following Free Books:</p>
    
    {% if books %}
      
        {% for book in books %}
        <div class="card">
            <div class="clearfix">
            
            
            
       
                <img src="{{ book.image.url }}" width="200" alt="{{ book.title }}, {{ book.description }}">
               
                <h5 class="book-title"><a href="{{ book.url }}">{{ book }}</a></h5> 
                <span class="book-author">- {{ book.author }}</span>
                        {% if book.categories.count %}
                            <p>Category:
                            {% for category in book.categories.all %}
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></p>
                            {% endfor %}
                        {% endif %}
                        <p class="book-description">{{ book.description }}</p>
                        
                        <p>
                        {% if request.user.is_authenticated %}
                            <form action="{% url 'book_favorite' book_pk=book.pk %}" method="POST">
                            {% csrf_token %}
                                <button type="submit">
                                {% if book in request.user.favorite_books.all %}
                                    Unfavorite
                                {% else %}
                                    Favorite
                                {% endif %}
                                this book
                                </button>
                            </form>
                        {% endif %}
                        </p>
                        <p>
                                <a href="{{ book.get_absolute_url }}">{{ book.favorited_by.count }} {{ book.favorited_by.count|pluralize:"person has,people have" }} favorited this book.</a>
                        </p>

                            

                        <p class="float-right">Date added: {{ book.date_added }}</p>
            </div>
        </div>
                {% endfor %}
             
            
        
    {% else %}
        <p>There are no books on the shelf.</p>
    {% endif %}

{% endblock %}